Django
django-ckeditor
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
pillow
psycopg2-binary
celery[redis]
django-redis
django-celery-results
django-celery-beat
django-cachalot
channels
channels-redis
flower
gunicorn
django-filter
python-slugify
stripe
drf-spectacular
drf-spectacular-sidecar